{{ '{{ $data := json (getv "/' }}{{ inventory_hostname }}{{ '") }}' }}
global
	log /dev/log	local0
	log /dev/log	local1 notice
	chroot /var/lib/haproxy
	stats socket /run/haproxy/admin.sock mode 660 level admin
	stats timeout 30s
	user haproxy
	group haproxy
	daemon

	tune.ssl.default-dh-param 2048
	ssl-default-bind-ciphers ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA:!DSS
	ssl-default-server-ciphers ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA:!DSS
	ssl-default-bind-options no-sslv3 no-tls-tickets
	ssl-default-server-options no-sslv3 no-tls-tickets

defaults
	log	global
	mode	http
	option	dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000
	errorfile 400 /etc/haproxy/errors/400.http
	errorfile 403 /etc/haproxy/errors/403.http
	errorfile 408 /etc/haproxy/errors/408.http
	errorfile 500 /etc/haproxy/errors/500.http
	errorfile 502 /etc/haproxy/errors/502.http
	errorfile 503 /etc/haproxy/errors/503.http
	errorfile 504 /etc/haproxy/errors/504.http

frontend ft_http
	mode http
	bind :::80 v4v6
	reqadd X-Forwarded-Proto:\ http

	compression algo gzip
	compression type text/html text/plain text/css application/javascript application/json image/svg+xml application/xml

	acl acl_letsencrypt path_beg /.well-known/acme-challenge/
	use_backend be_letsencrypt if acl_letsencrypt

{{ '{{ if $data.maintenance_mode_enabled }}' }}
	http-response set-header x-smartforms-maintenance yes
	http-response set-header x-smartforms-maintenance-reason maintenance-mode
{{ '{{ end }}' }}

{% if enforce_https == True %}
	redirect scheme https code 301 if !{ ssl_fc }
{% endif %}

	default_backend be_tomcat

frontend ft_https
	bind :::443 v4v6 ssl crt /var/lib/acme/live/{{ inventory_hostname }}/haproxy alpn h2,http/1.1
	reqadd X-Forwarded-Proto:\ https

	compression algo gzip
	compression type text/html text/plain text/css application/javascript application/json image/svg+xml application/xml

	acl acl_letsencrypt path_beg /.well-known/acme-challenge/
	use_backend be_letsencrypt if acl_letsencrypt

	http-response set-header Strict-Transport-Security max-age=15768000

{{ '{{ if $data.maintenance_mode_enabled }}' }}
	http-response set-header x-smartforms-maintenance yes
	http-response set-header x-smartforms-maintenance-reason maintenance-mode
{{ '{{ end }}' }}

	default_backend be_tomcat

backend be_letsencrypt
	server le 127.0.0.1:402

backend be_tomcat
	option forceclose
	option http-pretend-keepalive
	server tomcat 127.0.0.1:8080 check
	errorfile 503 /etc/haproxy/errorfile
