[template]
prefix = ""
src = "haproxy.cfg.tpl"
dest = "/etc/haproxy/haproxy.cfg"
uid = 0
gid = 0
mode = "0644"
keys = [
  "/{{ inventory_hostname }}",
]
check_cmd = "/usr/sbin/haproxy -c -V -f {{ '{{ .src }}' }}"
reload_cmd = "/usr/sbin/service haproxy reload"
