[mysqld]
log-basename = smartforms
server-id = {{ replication_server_id }}
replicate_do_db = smartforms_engine
replicate_do_db = smartforms_cloud
replicate_do_db = percona
max_connections = 200
bind-address = 0.0.0.0
skip_name_resolve = 1