#!/usr/bin/env bash

pt-table-checksum --databases "smartforms_engine,smartforms_cloud" \
--recursion-method=hosts -u "{{ checksum_user }}" -p "{{ checksum_password }}" --no-check-binlog-format --no-check-replication-filters