<template>
  <tr>
    <td>{{ name }}</td>
    <td>
      <select class="form-control" v-model="edit.release">
        <option v-for="tag in tags" :value="tag" v-bind:key="tag">{{ tag }}</option>
      </select>
    </td>
    <td :class="{'table-danger': edit.maintenance_mode_enabled, 'table-success': !edit.maintenance_mode_enabled}">
      <label><input type="checkbox" class="form-check-input" v-model="edit.maintenance_mode_enabled"></label>
    </td>
    <td style="min-width: 120px;"><health-check :name="name" :expectedVersion="edit.release"></health-check></td>
    <td>
      <button class="btn btn-sm btn-success" :disabled="!changed" @click="save">Save</button>
      <button class="btn btn-sm btn-default" :disabled="!changed" @click="reset">Reset</button>
    </td>
  </tr>
</template>

<script>
import HealthCheck from '@/components/HealthCheck'
export default {
  components: {
    'health-check': HealthCheck
  },
  props: ['tags', 'cluster', 'name'],
  data: function () {
    return {
      edit: null,
      changed: false
    }
  },
  methods: {
    reset: function () {
      this.edit = null
    },
    save: function () {
      this.$emit('update', { name: this.name, cluster: this.edit })
    },
    reload: function () {
      this.edit = JSON.parse(JSON.stringify(this.cluster))
    }
  },
  created: function () {
    this.reload()
  },
  watch: {
    cluster: function () {
      this.reload()
    },
    tags: function () {
      this.reload()
    },
    name: function () {
      this.reload()
    },
    edit: {
      deep: true,
      handler: function (v, oldV) {
        if (oldV === null) {
          return
        }
        if (v === null) {
          this.edit = JSON.parse(JSON.stringify(this.cluster))
          this.changed = false
          return
        }
        this.changed = true
      }
    }
  }
}
</script>

<style scoped>
td {
  text-align: center;
  vertical-align: middle;
}
label {
  margin: 0;
  padding: 0;
}
input[type=checkbox] {
  margin: 0;
  padding: 0;
}
</style>
