<template>
  <div>
    <span v-if="loading" class="text-info">Loading ...</span>
    <span v-else-if="error || healthData === null" class="text-danger">Not OK</span>
    <span v-else>{{ healthData.data.version }}</span>
  </div>
</template>

<script>
import api from '@/services/api'
import Spinner from '@/components/Spinner'

export default {
  props: ['name', 'expectedVersion'],
  components: {
    'spinner': Spinner
  },
  data: function () {
    return {
      timer: null,
      loading: false,
      healthData: null
    }
  },
  methods: {
    checkHealth: function () {
      this.loading = true
      this.error = null
      this.healthData = null
      api.getHealth(this.name).then((healthData) => {
        this.healthData = healthData.data
      }).catch((err) => {
        this.error = err
      }).then(() => {
        this.loading = false
      })
    }
  },
  created: function () {
    this.loading = true
    this.timer = window.setInterval(() => {
      this.checkHealth()
    }, 5000)
    this.checkHealth()
  },
  beforeDestroy: function () {
    window.clearInterval(this.timer)
  }
}
</script>

<style scoped>
</style>
