<template>
  <div class="container">
    <div class="row">
      <div class="col main card">
        <div class="card-block">
          <h4 class="card-title">SmartForms Cluster Manager</h4>
          <spinner v-if="loading" class="spinner"></spinner>
          <div class="alert alert-danger" v-else-if="error">
            {{ error }}
            <p><small><a @click="error = null" href="#">Acknowledge</a></small></p>
          </div>
          <div v-else>
            <table class="table table-bordered table-sm clusters">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Available Releases</th>
                  <th>Maintenance</th>
                  <th>Live Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr is="cluster" :name="index" :cluster="item" :tags="tags" v-for="(item, index) in clusters" @update="update"
                  v-bind:key="item.name"></tr>
              </tbody>
            </table>
            <div class="help">
              <h5>Instructions</h5>
              <p>
                Each cluster can be logged in to via SSH as 3 different users:
              </p>
              <ul>
                <li>root</li>
                <li>backend - a.k.a Wildfly</li>
              </ul>
              <h6>Deploying Software</h6>
              <ol>
                <li>
                  Select a release version above and put
                  the server into maintenance mode.
                </li>
                <li>Wait exactly 30 seconds for maintenance mode to take effect.
                </li>
                <li>
                  Login as the root user and run <code>/root/deploy.sh</code>
                </li>
                <li>Database backup will be taken, and upgrade will proceed.</li>
                <li>Verify that services upgraded/came back online OK</li>
                <li>Take server out of maintenance mode.</li>
              </ol>
              <h6>Restarting Services and Viewing Logs</h6>
              <p>As root,</p>
              <ul>
                <li><code>systemctl [start|stop|status|restart] backend</code></li>
                <li><code>journalctl -u backend [-f]</code> (or read Wildfly logs in ~backend directory)</li>
              </ul>
              <h6>Directory Paths</h6>
              <table class="table" style="margin-top: 1em;">
                <thead>
                  <tr><th>Facility</th><th>Path</th></tr>
                </thead>
                <tbody>
                  <tr><td>JBoss</td><td>/home/backend/jboss</td></tr>
                  <tr><td>Database Backups</td><td>/root/database-backups</td></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a @click="logout" class="logout" href="#">Logout</a>
      </div>
    </div>
  </div>
</template>

<script>
import auth from '@/services/auth'
import api from '@/services/api'
import Spinner from '@/components/Spinner'
import Cluster from '@/components/Cluster'

export default {
  components: {
    'spinner': Spinner,
    'cluster': Cluster
  },
  data () {
    return {
      loading: false,
      error: null,
      tags: [],
      clusters: {}
    }
  },
  methods: {
    logout: function () {
      auth.logout()
      this.$router.push('/login')
    },
    update: function (e) {
      this.loading = true
      this.error = null
      api.setCluster(e.name, e.cluster).then(() => {
        this.loading = true
        return this.reload()
      }).catch((err) => {
        this.error = err.response.statusText || 'Failed to update cluster'
      }).then(() => {
        this.loading = false
      })
    },
    reload: function () {
      return Promise.all([api.getTags(), api.getClusters()]).then(values => {
        this.tags = values[0].data
        this.clusters = values[1].data
      }).catch((err) => {
        this.error = err.response.statusText || 'Failed to fetch data from API server'
      }).then(() => {
        this.loading = false
      })
    }
  },
  created: function () {
    this.loading = true
    this.error = null
    this.reload()
  }
}
</script>

<style scoped>
.main {
  margin-top: 10vh;
  min-height: 25vh;
}
.help {
  font-size: 0.9em;
  margin-top: 2em;
  color: #666;
}
.logout {
  color: white;
  text-align: center;
  display: block;
  margin-top: 1em;
}
table.clusters {
  margin-top: 2em;
}
</style>
