<template>
  <div class="container">
    <div class="row">
      <div class="card col login">
        <div class="card-block">
          <h4 class="card-title">Login</h4>
          <p class="card-text">Please provide the API credential below.</p>
          <div class="alert alert-danger" v-if="error">
            {{ error }}
          </div>
          <form>
            <div class="form-group">
              <label>API Key</label>
              <input type="password" placeholder="xxxxx-xxxxx-xxxxx" class="form-control" v-model="apiKey" required>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" @click="login" :disabled="loading" v-if="!loading">Login</button>
              <spinner v-else-if="loading" class="spinner"></spinner>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import auth from '@/services/auth'
import Spinner from '@/components/Spinner'

export default {
  components: {
    'spinner': Spinner
  },
  data () {
    return {
      apiKey: '',
      loading: false,
      error: null
    }
  },
  methods: {
    login: function () {
      this.loading = true
      this.error = null
      auth.tryAuthenticate(this.apiKey).then(() => {
        this.apiKey = null
        this.$router.push('/')
      }).catch((err) => {
        console.log(err)
        this.error = err.response.statusText || 'Unable to login'
      }).then(() => {
        this.loading = false
      })
    }
  }
}
</script>

<style scoped>
.login {
  margin: 10vh 0;
  background: white;
}
</style>
