<template>
  <div class="row">
    <div class="col-md-2 offset-md-5">
      <moon-loader color="#e79267" class="spinner"></moon-loader>
    </div>
  </div>
</template>

<script>
import MoonLoader from 'vue-spinner/src/MoonLoader'

export default {
  components: {
    'moon-loader': MoonLoader
  }
}

</script>

<style scoped>
.spinner {
  margin: 2em 0;
}
</style>
