[mysqld]
server-id = {{ replication_server_id }}
read_only
replicate_do_db = smartforms_engine
replicate_do_db = smartforms_cloud
replicate_do_db = percona
bind-address = 0.0.0.0
skip-name-resolve
report_host = {{ inventory_hostname }}
report_port = 3306
report_user = {{ checksum_user }}
report_password = {{ checksum_password }}